.task-viewer {
    background-color: #f2f3ff; 
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
  }
  

@media (max-width: 768px) {
    .task-viewer {
        gap: 16px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .task-viewer {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 16px;
    }
}