* {
    font-family: Poppins, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-style:normal;
    font-weight:normal;
}

body {
    margin: 0;
}

.nav {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-centered {
    align-items: center;
}

.content-container {
    max-width: 1120px;
    justify-content: center;
    padding: 0px 20px;
}

body > section {
    margin: 150px auto;
}

body > section:nth-child(2) {
    margin-top: 25px;
}

body > section:last-child {
    margin-bottom: 0px;
    margin-top: 75px;
}

#app-logo {
    height: 40px;
    margin-right: 16px;
}

#app-title {
    font-weight: bold;
    font-size: 1.88em;
    line-height: 28px;
    color: #173a56;

}

.nav-bar-wrapper {
    width: 100%;
   justify-content:space-between ; 
}

.nav-links-container > a {
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
    color: #22343d;
    margin: 0 10px;
}

.main-btn {
    background: #02897a;
    border-radius: 4px;
    height: 43px;
    font-size: 1em;
    font-weight: 600;
    line-height: 24px;
    color:#FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 25px;
    white-space: pre;
}

.second-btn {
    background: #FFFFFF;
    color:#173A56;
    border: 1px solid#BCD0E5 ;
}

.button-link {
    color:#02897a;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    text-decoration-line: underline;
    color:#02897a;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

#play-icon {
    height: 17px;
    margin-right: 9px;
}

.buttons-nav {
    margin: 0 12px;
}

.frame-btn {
    height: 32px; 
    width: 32px;
    border-radius: 50%;
    background-color:#f3f3f3;
    border: none;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items:center
}

#frame-btn {
    height: 24px;
    width: 24px;
}

.btn-container {
    display:flex;
    justify-content:flex-end;
}

.main-header {
    font-weight: bold;
    font-size: 2.5em;
    line-height:60px;
    color:#22343d;
}

.content-left-col, .content-right-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.subtitle {
    font-size: 1.13em;
    line-height: 28px;
    color: #22343d;
}

.first-section-right-col {
    width: 100%;
    height:auto; 
    pointer-events: none;
}

.button-link-margin {
    margin-left: 30px;
}

#menu-icon {
    width: 28px;
    height: 31px;
    cursor:pointer;
}

.menu-icon {
    display: none;
}

#menu-collapse {
    display: none;
}

.section-3-row {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:auto;
}

.section-bg{
    background-image: url(./assets/section-2-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: visible;
}

.section-3-row > h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 48px;
    text-align: center;
}

.section-row-4-cols {
    display: grid;
    grid-template-areas: 
    'grid-col-1 grid-col-2 grid-col-3 grid-col-4';
    gap: 10px;
}

.section-row-4-cols-item-1 {
    grid-area: grid-col-1;
}

.section-row-4-cols-item-2 {
    grid-area: grid-col-2;
}

.section-row-4-cols-item-3 {
    grid-area: grid-col-3;
}

.section-row-4-cols-item-4 {
    grid-area: grid-col-4;
}

.section-row-4-cols h5 {
    font-size: 1.38em;
    font-weight: 600;
    line-height: 33px;
}

.section-row-4-cols p {
    font-size: 1em;
    line-height: 26px;
}

.section-2-icon {
    height: 50px;
    width: 50px;
}

.section-row-4-cols > div {
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

@media screen and (max-width: 890px) {
    .menu-icon {
        display:flex;
    }

    .content-container {
        padding: 0 20px;
    }

    .nav-bar-wrapper > .btn-container {
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out;
    }

    .btn-container > .nav-links-container > a {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    .btn-container > .action-buttons-wrapper {
        padding: 10px 0 px;
        flex-direction: column;
    }

    .btn-container > .action-buttons-wrapper > button {
       margin: 5px 0px; 
    }

    .btn-container > .nav-links-container > a:hover {
        text-decoration: underline;
    }

    .nav > #menu-collapse:not(:checked) ~ .nav-bar-wrapper > .btn-container {
        height: 0;
    }

    .nav > #menu-collapse:checked ~ .nav-bar-wrapper > .btn-container {
        max-height: 100vh;
        height:auto;
    }
}

@media screen and (max-width: 750px) {
    .section-row-4-cols {
        grid-template-areas: 
        'grid-col-1 grid-col-2'
        'grid-col-3 grid-col-4';
        gap: 30px;

    }
    .section-row-4-cols > div {
        margin: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
  .section-2-col {
     flex-direction: column-reverse;
     justify-content: flex-start;
     align-items: center;
   }  
  .section-2-col-item {
     width: 100%;
     justify-content: flex-start;
     align-items: center;
     display: flex;
     text-align: center;
   }

  .section-row-4-cols {
     grid-template-areas: 
     'grid-col-1'
     'grid-col-2'
     'grid-col-3' 
     'grid-col-4';
     gap: 0;
     margin: 0;
   }

  .section-row-4-cols > div {
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
}